<main>

  <h2>Update Activities</h2>

 

  <div id="edit-form" class="wingspot-container-show">

    <form action="/activities/{{activities._id}}?_method=PATCH" method="POST">
      <div>
        <label for="name">name: </label>
        <input type="text" name="name" value="{{activities.name}}">
      </div>
      <div>
        <label for="dlocation">description: </label>
        <input type="text" name="description" value="{{activities.description}}">
      </div>
      <div>
        <label for="location">location: </label>
        <input type="text" name='ambiance' value="{{activities.location}}">
      </div>
      <div>
        <label for="price">price: </label>
        <input type="text" name='price' value="{{activities.price}}">
      </div>
      

       <a href='/users/{{_id}}'><button type="submit">Update</button>
    </form>
 <a href="/:id/activities/">Return to Home Page</a>

  </div>
</main>