<br>
<h1 class="text-light">Welcome to {{title}}</h1>
<p class="text-light">Select any of the links to view a list of things to do in each city</p>
<p class="text-light">Don't see your city listed? Add it <a href="cities/new">here</a> and suggest an activity</p>

<br>


      <div id = "flexbox" class="row">
{{#each cities}}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
            <a href="/cities/{{_id}}">
            <img class="img-responsive" src="{{img}}" alt="">
            </a>
            <div class="overlay">
                <a href="/cities/{{_id}}"><h2>{{name}}</h2></a>
                
            </div>
        </div>
              </div>
    {{/each}}
    </div>
      <br>
