<main>
<br>
<br>
    <div class="city-container-show">
        <header>
            <h2 style="text-align:center"> {{cities.name}} Activities </h2>
        </header>
        <div style="text-align:center">
        <img src="{{cities.img}}" alt="">
        </div>
        <br>
        <p>{{cities.description}} </p>
        <h1 style="text-align:center"></h1>
        <br>
            <div class = "row">
        {{#each cities.activities}}
        <div class="col-md-4">
        <h3>{{name}} </h3>
        <p>{{description}} </p>
        <p class="location">{{location}} </p>
        <p>{{price}} </p>
        </div>
        {{/each}}
        </div>
        </div>
    </div>
   

</main>